<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required Meta Tags For SEO -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Food 'O' Mystery">
    <meta name="author" content="Made By Shivang Saxena">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Required Meta Tags For SEO -->

    <!-- Title of WebApp -->
    <title>Food O Mystery</title>
    <!-- Title Ends -->

    <!-- favicon for Page -->
    <link rel="shortcut icon" href="/static/img/food_version2.png" type="image/x-icon">
    <!-- Ends -->

    <!-- Required Links -->

    <!-- Custom Css and Adminlite Css -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/adminlte.min.css')}}">
    <!-- Ends -->

    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/all.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <!-- Ends -->

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="{{url_for('static',filename='fontawesome-free/css/all.min.css')}}">
    <!-- Ends -->

    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="{{url_for('static',filename='overlayScrollbars/css/OverlayScrollbars.min.css')}}">
    <!-- Ends -->

    <!-- IonIcons -->
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='css/ionis.css')}}"> -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Ends -->

    <!-- Datatable Css Start -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/datatable_1.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/datatable_2.css')}}">
    <!-- Ends -->

    <!-- Jquery Css -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/alt/jquery.css')}}">
    <!-- Ends -->

</head>

<body class="sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed" style="height: auto;">
    <!-- Required Scripts -->

    <!-- Jquery Js Start -->
    <script src="{{url_for('static',filename='js/jquery_1.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery_2.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.js')}}"></script>
    <script src="{{url_for('static',filename='jquery/jquery.min.js')}}"></script>
    <!-- Ends -->

    <!-- Bootstrap Js Start -->
    <script src="{{url_for('static',filename='js/all.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/proper.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/validation.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <!-- Ends -->

    <!-- overlayScrollbars js Start -->
    <script src="{{url_for('static',filename='overlayScrollbars/js/jquery.overlayScrollbars.min.js')}}"></script>
    <!-- Ends -->

    <!-- AdminLTE App Js Start-->
    <script src="{{url_for('static',filename='js/adminlte.js')}}"></script>
    <!-- Ends -->

    <!-- OPTIONAL SCRIPTS -->
    <script src="{{url_for('static',filename='js/demo.js')}}"></script>

    <!-- PAGE static -->
    <!-- jQuery Mapael -->
    <script src="{{url_for('static',filename='jquery-mousewheel/jquery.mousewheel.js')}}"></script>
    <script src="{{url_for('static',filename='raphael/raphael.min.js')}}"></script>
    <script src="{{url_for('static',filename='jquery-mapael/jquery.mapael.min.js')}}"></script>
    <script src="{{url_for('static',filename='jquery-mapael/maps/usa_states.min.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- Ends -->

    <!-- Sweetalert Javascript files -->
    <script src="{{url_for('static',filename='sweetalert2/sweetalert2.min.js')}}"></script>
    <!-- Sweetalerts Ends -->

    <!-- Chartjs Start -->
    <script src="{{url_for('static',filename='chart.js/canvasjs.min.js')}}">
    </script>
    <!-- Chartjs Ends -->

    <!-- Datatable Js -->
    <script src="{{url_for('static',filename='js/datatable_1.js')}}"></script>
    <script src="{{url_for('static',filename='js/datatable_2.js')}}"></script>
    <!-- Datatable js Ends -->

    <!-- html2pdf js -->
    <script src="{{url_for('static',filename='js/html2pdf_1.js')}}"></script>
    <script src="{{url_for('static',filename='js/html2pdf_2.js')}}"></script>
    <script src="{{url_for('static',filename='js/html2pdf_3.js')}}"></script>
    <script src="{{url_for('static',filename='js/html2pdf_4.js')}}"></script>
    <!-- Ends -->

    <!-- Automatic Name fetch js start -->
    <script src="{{url_for('static',filename='js/automatic.js')}}"></script>
    <!-- Ends -->
    {% block content %}
    {% endblock %}
</body>

</html>