{% extends "base.html" %}
{% block content %}

<!-- Section Css Start -->
<style>
    .sidebar-search-results {
        position: relative;
        display: none;
        width: 100%;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: #f9f9f9;
        min-width: 260px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }

    .box.box-primary {
        border-top-color: #3c8dbc;
    }
</style>
<!-- Section Css Ends -->

<!-- Include Sidebar -->
{% include "sidebar.html" %}
<!-- Sidebar Ends -->

<!-- Include Navbar -->
{% include "navbar.html" %}
<!-- Navbar Ends -->

<!-- InvoicePrint Page Start -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Invoice</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Invoice</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="callout callout-info">
                        <h5>
                            <i class="fas fa-info"></i> Note:
                        </h5>
                        This page has been enhanced for printing. Click the print button
                        at the bottom of the invoice to test.
                    </div>


                    <!-- Main content -->
                    <div class="invoice p-3 mb-3">
                        <!-- title row -->
                        <div class="row">
                            <div class="col-12">
                                <h4>
                                    <i class="fas fa-globe"></i> Food "O" Mystery, 
                                </h4>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- info row -->
                        <div class="row invoice-info">
                            <div class="col-sm-4 invoice-col">
                                From
                                <address>
                                    <strong>Food 'O' Mystery</strong><br />
                                    Ramkuteer, <br />
                                    near civil hospital,<br />
                                    Nowgong (M.P.)<br />
                                    Phone: +91 9893363677<br />
                                    Email: foodomystery@gmail.com
                                </address>
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 invoice-col">
                                To

                                <address>
                                    <strong>{{name}}</strong><br>
                                    <div>{{add}}</div>
                                    <div>{{mob}}</div>
                                    <div>{{emails}}</div>
                                    
                                </address>
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 invoice-col">

                                
                                <input type="hidden" value="{{inv_id}}" id="invoice">
                                
                                <b>Invoice ID : <span>{{inv_id}}</span></b>
                                <br> <b>Invoice Date</b> :<span>{{date}}-{{month}}-{{year}}</span><br>
                                {% if charge %}
                                <b>Home Delivery : <span>Yes</span></b><br/>
                                <b>Delivery Charge : <span>{{charge}}</span></b>
                                {% else %}
                                <b>Home Delivery : <span>No</span></b><br/>
                                <b>Delivery Charge : <span>0.0</span></b> 
                                {% endif %}
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                        <!-- Table row -->
                        <div class="row">
                            <div class="container">
                                <div class="card-body">
                                    

                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-12">
                                        <table class="table table-bordered table-hover"
                                            id="tab_logic">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th class="text-center">Product</th>
                                                    <th class="text-center">Quantity</th>
                                                    <th class="text-center">Price</th>
                                                    <th class="text-center">Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for i in length %}
                                                {% set item_1 = length[loop.index-1] %}
                                                {% set item_2 = product[loop.index-1] %}
                                                {% set item_3 = quan[loop.index-1] %}
                                                {% set item_4 = price[loop.index-1] %}
                                                {% set item_5 = amm[loop.index-1] %}
                                               <tr>
                                                     <td> {{ item_1 }} </td>
                                                     <td>  {{ item_2 }} </td>
                                                     <td>{{item_3}}</td>
                                                     <td>{{item_4}}</td>
                                                     <td>{{item_5}}</td>

                                              </tr>
                                          {% endfor %}
                                                <tr id='addr1'></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="row clearfix" style="margin-top: 20px">
                                    <div class="pull-right col-md-4">
                                        <table class="table table-bordered table-hover"
                                            id="tab_logic_total">
                                            <tbody>
                                                <tr>
                                                    <th class="text-center">Sub Total</th>
                                                    <td class="text-center">Rs. <span>{{sub}}</span></td>
                                                </tr>
                                                <!--
    <tr>
    <th class="text-center">Discount</th>
    <td class="text-center">Rs. 0</td>
  </tr>
-->
                                                <tr>
                                                    <th class="text-center">Tax %</th>
                                                    <td class="text-center"><span>{{tax}}</span></td>
                                                            
                                                        
                                                </tr>
                                                <tr>
                                                    <th class="text-center">Tax Amount</th>
                                                    <td class="text-center">Rs. <span>{{taxam}}</span></td>
                                                </tr>
                                                <tr>
                                                    <th class="text-center">Grand Total</th>
                                                    <td class="text-center">Rs. <span>{{total}}</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->


                        <!-- /.row -->

                        <!-- this row will not appear when printing -->
                        <div class="row no-print mb-5">
                            <div class="col-12">
                                <a href="{{url_for('print_bill',id=inv_id)}}" class="btn btn-primary" id="generate">Generate Bill</a>
                                <button type="button" class="btn btn-success float-right" id="markpaymentreceived">
                                    <i class="far fa-credit-card"></i> Mark Payment as Received
                                </button>
                                <button type="button" class="btn btn-primary float-right"
                                    style="margin-right: 5px;"  id="savetodb">
                                    <i class="fas fa-download"></i> Save to Database
                                </button>
                            </div>
                        </div>																
                    </div>
                    <!-- /.invoice -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- InvoicePrint Page Ends -->

<!-- Include Footer -->
{% include "footer.html" %}
<!-- Footer Ends -->

<!-- Js for content that is coming soon -->
<script>
    $(document).ready(function () {
        $("#sidebar").hide();
        if ($("#dash_v1").click(function () {
            swal("Information", "Next Version of Dashboard is Comming Soon!!", "info");
            return true;
        }));
        if ($("#pick").click(function () {
            swal("Information", "Home Delievery Section is Comming Soon!!", "info");
            return true;
        }));
        if ($("#details").click(function () {
            swal("Information", "Home Delievery Section is Comming Soon!!", "info");
            return true;
        }));
    });
</script>
<!-- Js for content that is coming soon Ends -->

<!-- Js for search filter -->
<script>
    function myFunction() {
        // Declare variables
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('myInput');
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName('li');

        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>
<!-- Js for search Ends -->

<!-- Js for search internet -->
<script>
    setInterval(function () {
        $(".info").html("")
        var ifConnected = window.navigator.onLine;
        if (ifConnected) {
            $(".info").append(`
            <a href="/" class="d-block font-weight-light">Food O Mystery</a>
            <a href="#" id="status"><i class="fa fa-circle text-success"></i> Online</a>
            `);
        } else {
            $(".info").append(`
            <a href="/" class="d-block font-weight-light">Food O Mystery</a>
            <a href="#" id="status"><i class="fa fa-circle text-danger"></i> Offline</a>
            `);
        }
    }, 1000);
</script>
<!-- Js for search internet Ends -->

<!-- Invoice Api -->
<script>
    $(function(){
        let status="Pending";
        let count=0;
        $("#savetodb").click(function(){
            if(count==0){
                alert("Please Select First Mark Payment Read");
                return false;
            }else{
                alert(`Data Saved in Database Successfully\nPayment Status=${status}`);
                $('#savetodb').prop('disabled', true);
            }
        });
        $("#generate").click(function(){
            if(count==0){
                alert(`Payment Status = Pending`);
                // return false;
            }else{
                alert(`Data Saved in Database Successfully\nPayment Status=${status}`);
                $('#savetodb').prop('disabled', true);
            }
        });
        $("#markpaymentreceived").click(function(){
            status="Success";
            count+=1
            alert(`Payment Marked As Read.\nPayment Status=Success`);
            $('#markpaymentreceived').prop('disabled', true);
            $.ajax({
                url:"/Invoice/Payment/Success?pro="+document.getElementById("invoice").value,
                success:function(data){
                    console.log("Success");
                }
            })
        });
    });
</script>
<script>
     var myTab = document.getElementById('tab_logic');
        for (i = 1; i < myTab.rows.length; i++) {
            var objCells = myTab.rows.item(i).cells;
            for (var j = 0; j < objCells.length; j++) {
                console.log(objCells.item(j).innerHTML);
            }
        }
</script>
<!-- Ends -->

{% endblock %}