{% extends "base.html" %}
{% block content %}

<!-- Section Css Start -->
<style>
    .sidebar-search-results {
        position: relative;
        display: none;
        width: 100%;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: #f9f9f9;
        min-width: 260px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }

    .box.box-primary {
        border-top-color: #3c8dbc;
    }
</style>
<!-- Section Css Ends -->

{% include "sidebar.html" %}
{% include "navbar.html" %}

<!-- NoticeDetails Page Start -->
<!-- Content Wrapper. Contains page content -->

<!-- /.content-wrapper -->
<!-- NoticeDetails Page Ends -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>All Previous Payment Details</h1>
                </div>
                <div class="col-sm-4"></div>
                
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">View Old Payment Details</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                    data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <table class="display text-center" id="table_id">
                                <thead>
                                    <tr>
                                        <th>Customer Id</th>
                                        <th>Invoice No.</th>
                                        <th>Name</th>
                                        <th>Address</th>
                                        <th id="mail">Mail Id</th>
                                        <th id="what">WhatsApp Number</th>
                                        <th>Payment Status</th>
                                        <th id="pay">Payment Mode</th>
                                        <th id="sub">Subtotal</th>
                                        <th id="tax">Tax Amount</th>
                                        <th>Grand Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for val in data %}
                                    <tr>
                                       <td>{{val['CustomerId']}}</td> 
                                       <td>{{val['Id']}}</td> 
                                       <td>{{val['Name']}}</td> 
                                       <td>{{val['Address']}}</td> 
                                       <td>{{val['Email']}}</td> 
                                       <td>{{val['Mobile']}}</td> 
                                       <td>{{val['PaymentStatus']}}</td> 
                                       <td>{{val['PaymentMode']}}</td> 
                                       <td>{{val['SubTotal']}}</td> 
                                       <td>{{val['TaxAmmount']}}</td> 
                                       <td>{{val['GrandTotal']}}</td> 
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="bg-info">Totals</td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <div class="col-md-6"></div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->

    </section>
    <!-- /.content -->
</div>
<!-- Include Footer -->
{% include "footer.html" %}
<!-- Ends Footer -->

<!-- Js for content that is coming soon -->
<script>
    $(document).ready(function () {
        $("#sidebar").hide();
        if ($("#dash_v1").click(function () {
            swal("Information", "Next Version of Dashboard is Comming Soon!!", "info");
            return true;
        }));
        if ($("#pick").click(function () {
            swal("Information", "Home Delievery Section is Comming Soon!!", "info");
            return true;
        }));
        if ($("#details").click(function () {
            swal("Information", "Home Delievery Section is Comming Soon!!", "info");
            return true;
        }));
    });
</script>
<!-- Js for content that is coming soon Ends -->

<!-- Js for search filter -->
<script>
    function myFunction() {
        // Declare variables
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('myInput');
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName('li');

        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>
<!-- Js for search Ends -->

<!-- Js for search internet -->
<script>
    setInterval(function () {
        $(".info").html("")
        var ifConnected = window.navigator.onLine;
        if (ifConnected) {
            $(".info").append(`
            <a href="/" class="d-block font-weight-light">Food O Mystery</a>
            <a href="#" id="status"><i class="fa fa-circle text-success"></i> Online</a>
            `);
        } else {
            $(".info").append(`
            <a href="/" class="d-block font-weight-light">Food O Mystery</a>
            <a href="#" id="status"><i class="fa fa-circle text-danger"></i> Offline</a>
            `);
        }
    }, 1000);
</script>
<!-- Js for search internet Ends -->

<!-- Datatable initialize -->
<script>
    $(document).ready(function () {
        $("#table_id").dataTable({
            dom: 'Blfrtip',
            "scrollX":"true",
            "lengthMenu": [[5,10,15, -1], [5,10,15, "All"]],
            "footerCallback":function(row,data,start,end,display){
                var api = this.api();
				nb_cols = api.columns().nodes().length;
                var j = 10;
                while(j<nb_cols){
                    var pageTotal = api.column(j,{page:'current'}).data().reduce(function(a,b){
                        return Number(a) + Number(b);
                    },0);
                    $(api.column(j).footer()).html(Number.parseFloat(pageTotal).toFixed(3));
                    j++;
                }
            },
            buttons: [
                {
                    extend: 'copy',
                    title: 'Old_Payment_Details',
                    filename: 'Old_Payment_Report'
                },
                {
                    extend: 'excel',
                    title: 'Old_Payment_Details',
                    filename: 'Old_Payment_Report'
                },
                {
                    extend: 'csvHtml5',
                    title: 'Old_Payment_Details',
                    filename: 'Old_Payment_Report'
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Old_Payment_Details',
                    filename: 'Old_Payment_Report'
                }

            ]
        });
    });
</script>
<!-- Datatable initialize Ends-->



{% endblock %}